/* CSS HEX 
--aero: #7eb2ddff;
--mountbatten-pink: #a28497ff;
--space-cadet: #222e50ff;
--nyanza: #d4f2d2ff;
--deep-champagne: #fed18cff;

SCSS RGB 
$aero: rgba(126, 178, 221, 1);
$mountbatten-pink: rgba(162, 132, 151, 1);
$space-cadet: rgba(34, 46, 80, 1);
$nyanza: rgba(212, 242, 210, 1);
$deep-champagne: rgba(254, 209, 140, 1);
*/

*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}
.header {
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(126,178,221,.7),rgba(126, 178, 221, .7)),url(images/background-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.content-header {
        min-height: 25vh;
        width: 100%;
        background-image: linear-gradient(rgba(126, 178, 221, .7), rgba(126, 178, 221, .7)), url(images/background-img.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

nav img{
    width:175px;
    border-radius: 60%;
}
.nav-bar {
    width: 20%;
    flex: 1;
    text-align: right;
}
.break{
    width:50%;
}

.nav-bar ul {
    background: #a28497ff;
    border: 1px solid #222e50ff;
    display: flex;
    justify-content: space-between;
}


.nav-bar ul li {
    list-style:none;
    display: inline-block;
    padding:11px;    
    position:relative;
}

.nav-bar ul li:hover{
    background: #222e50ff;
    transition: 0.5s;
}

.nav-bar ul li a {
    color:#fed18cff;
    text-decoration: none;
}
.text-box {
    padding-top:100px;
    text-align: center;
    color: #fed18cff;
}
.header h1{
    font-size: 62px;
}
.header p{

    font-size:18px;
}

.game-dev{
    
    min-height:100vh;
    width:100%;
    margin:auto;
    padding-top: 100px;
    background: #d4f2d2ff;
}
.title-bar{
text-align: center;
color:#222e50ff;
}
.title-bar h1 {
    font-size: 62px;
}
.title-bar p {
    font-size: 18px;
}

.row {
    width: 80%;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.dev-row {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.dev-col{
    flex-basis: 31%;
    text-align: center;
    position:relative;
}
.dev-col p {
    bottom: 2px;
}
.layer{
    background:transparent;
    height:100%;
    width:100%;
    margin:auto;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
}
.layer:hover{
    background: rgba(126, 178, 221, .7);
}
.layer h2{
    width:100%;
    color:#fed18cff;
    font-weight:500;
    font-size: 26px;
    position:absolute;
    bottom:0;
    opacity:0;
    transition:0.5s;
}
.layer:hover h2{
    opacity:1;
    bottom:49%;
}
.cta-dev{
    padding-top:100px;
}
.professional{
    height:100vh;
    width:100%;
    margin:auto;
    padding-top: 100px;
    background: #a28497ff;
}
.professional-col {
    flex-basis: 50%;
    width:80%;
    margin:auto;
}

.prof-text {
    
    color: #fed18cff;
    text-align:center;
}
.prof-text h1 {
    font-size:62px;
}

.professional-col {
    flex-basis: 48%;
    position: relative;
    color: #fed18cff;
    padding-left:80px;
    font-size: 18px;
    font-style: bold;
}
.prof-text p {
    font-size: 18px;
}
.epic {
    padding-top:80px;
    margin: auto;
    width: 80%;
}
.epic-logo {
    width:10%;
    display: block;
    margin:auto;
}
.onbase-img{
    padding-top:15px;
    width:25%;
}
.imprivata-img{
    width: 40%;
}
.professional li {
    padding-top: 10px;
}
.rightfax-img {
    padding-top: 15px;
    width: 40%;
}
.footer{
    height:10vh;
    width:100%;
    margin:auto;
    padding-top: 40px;
    background-color: #7eb2ddff;
    text-align: center;
    color:#222e50ff;
}
.footer h4{
    font-size:20px;
}
.footer p{
    padding-top:15px;
}
.footer .icons{
    padding-top:15px;
}
.footer i {
    padding-right: 10px;
}
.grid-container {
    padding-top:80px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap:20px;
    padding-left: 10px;
    padding-right:10px;
}
.learn-more{
    margin:30px auto;
    width:80%;
    text-align:center;
    

}
.hero-btn{
    display:inline-block;
    position:relative;
    font-size: 18px;
    text-decoration:none;
    border: 1px solid #fed18cff;
    color: #fed18cff;
    background: transparent;
    padding: 12px 36px;
}

.hero-btn:hover{
    border: 1px solid #222E50;
    color: #222E50;
    background: #fed18cff;
    transition: 1s;
}
.contact{
    height: 65vh;
    width:100%;
    background: #222e50;
    background-size: cover;
    background-position: center;
    position: relative;
    color:#d4f2d2;
}
.contact h1 {
    font-size: 64px;
}
.contact p {
    font-size: 18px;
}
.contact .text-box{
    color:#d4f2d2;
}
.contact-row{
    width:50%;
    margin:auto;
    display:flex;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
    padding-top:50px;
}
.contact-item{
    display:flex;
    padding-bottom: 20px;
}
.contact-item a{
    text-decoration: none;
    color: #d4f2d2;
    display:flex;
}
.contact-item i {
    color: #d4f2d2;
    font-size: 18px;
}
.contact-item p {
    padding-left: 10px;
}
.dev-textbox {
    text-align:center;
}
.dev-col {
    text-align: left;
}
.games-to-make li{
    padding-top: 10px;
}
.dev-col {
    flex-basis: 31%;
}
.gamedev{
    background: #d4f2d2;
    height: 70vh;
    width: 100%;
    margin:auto;
}
.gamedev h1 {
    padding-top:50px;
    font-size: 62px;
}
.gamedev-row {
    width: 80%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}